 body,
 html {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 #contenido1 {
     min-height: 97%;
 }

 #footer {
     width: 100%;
     margin: 0;
     padding: 0;
 }

 #form .error {

    color: #ff0000;
  
  }
  
form .error {

    color: #ff0000;
  
  }