html {
    margin: 0;
    height: 50%;

}

#contenido1 {

    min-height: 60%;

}



#footer {
    margin-bottom: 0;
    height: 0;


}

#menuAD {
    background-color: white;


}

.fd {
    background: rgb(255, 255, 255);
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.5) 70%, rgba(120, 194, 173, 0.623) 30%);
}

.m-5 {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
}